h3 {
    background-color: pink;
}

button {
   /* padding-right: 60px;
    padding-left: 40px;
    padding-bottom: 50px;
    padding-top: 70px;
    padding: 60px 40px 50px 40px;*/
    padding: 50px;

   /* margin-left:500px;
    margin-top: 250px;*/
    margin: 250px;
}

div {
    width: 200px;
    height: 150px;
    background-color: rgb(247, 198, 222);
    padding: 50px;
    margin: 20px;
    border: 4px solid hotpink;
}