p {
    color: hotpink;
   /* color: rgb(230,50,30);*/

    font-size: 30px;
   /* border: 4px solid red;*/
    border-radius: 5px;
    border-style: solid;
    border-color: aqua;
}

body {
    /*background-color: red;*/
    background: url(../images/gala.webp);
    background-size: cover;
}